// @mixin font(){
//     color: red;
//     font-size: 30px;
//     font-weight: 500;
//     font-family: Georgia, 'Times New Roman', Times, serif;
// }

@mixin font($color,$size,$weight,$family:'Georgia'){
    clor:$color;
    font-size: $size;
    font-weight: $weight;
}
@mixin flex($justify,$align,$direction:row){
    display:flex;
    justify-content:$justify;
    align-items: $align;
    flex-direction:$direction ;
    flex-wrap: wrap;

}
@mixin pseudo($w,$h){
    content: '';
    position: absolute;
    width: $w;
    height: $h;
}