*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.wrap{
    display: flex;
    justify-content: center;
}
.carusel{
    max-width: 700px;
    position: relative;

}
.carusel.img{
    width: 100%;
}
.stick-arrow{
    position: absolute;
    top: 50%;
    border: none;
    
}