*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.body{
    background: #369;
}

.container{
    min-width: 1200px;
    margin: 0 auto;
}
.header{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 60px;
}
.menu-item{
    display: inline-block;
    margin: 0 15px;
}
.menu-item a{
    font-famely: Georgia, 'Times new roman'
}
.test{

}
.burger{
    curcor
}